{% extends "base.html" %}
{% load static %}

{% block jsScripts %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
{% endblock %}

{% block content %}
<section class="section-content padding-y">
    
    

    <div class="container">
        
        <div class="row">
            
            {% include "includes/filter_side_order.html"%}

            

            <main class="col-md-9">

                <article class="card">
                    <header class="card-hearder">
                    </header>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <table class="table table-over">
                                    <thead class="table table-over">
                                        <tr>
                                            <th scope="col">Order</th>
                                            <th scope="col">Billing Name</th>
                                            <th scope="col">Adresse</th>
                                            <th scope="col">Total</th>
                                            <th scope="col">State</th>
                                            <th scope="col">Date</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for order in orderslst %}
                                        <tr>
                                            <th scope="row">{{order.pk}}</th>
                                            <th scope="col">{{order.user_id.first_name}}</th>
                                            <th scope="col">{{order.address}}</th>
                                            <th scope="col">{{ order.euro_price }} €</th>
                                            <th scope="col">
                                                {% if request.user.is_admin %}
                                                <div class="dropdown">
                                                    <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                        {{order.state_id.label}}
                                                    </button>
                                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                        {% for state in states %}
                                                      <a class="dropdown-item" href="{% url 'order:change_state' state_id=state.pk order_id=order.pk%}">{{state.label}}</a>
                                                      {% endfor %}
                                                    </div>
                                                  </div>
                                                  {% else %}
                                                    {{order.state_id.label}}
                                                  {% endif %}

                                            </th>
                                            <th scope="col">{{order.date}}</th>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </Article>
        
            </main> <!-- col.// -->
        </div>
    </div>
</Section>

{% endblock %}